 html * {
     font-family: 'Montagu Slab', serif;
     cursor: cell;
 }

 nav {
     font-size: 20px;
     text-decoration-color: white;
 }

 .navlist {
    list-style-type: none;
    display: inline;
    padding: 10px;
    margin: 10px;
    float: right;

 }

 a {
    text-decoration: none;
    color: white;
 }

#thanks-for-reading {
    text-decoration: white;
}

body {
    background-color: #c28285;
    text-align: center;
}

.navbar {
    background-color: #a2a2a2;
    border-radius: 50px;
    height: 50px;
    color: white;
}

.blogname {
    text-decoration-color: white;
    float: left;
    padding-left: 20px;
    
}

.profilepic {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    float: right;
    
    
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #a2a2a2;

}
