 html * {
     font-family: 'Montagu Slab', serif;
     text-decoration: none;
 }

 header {
     background-color: #a2a2a2;
     border-radius: 50px;
     height: 158px;

     }

 nav {
     font-size: 50px;
     text-decoration-color: white;
 }

 .navlist {
    list-style-type: none;
    display: inline;
    padding: 10px;
    margin: 10px;
    float: right;

 }

h1 {
    text-decoration-color:#3d7d7a;
}

body {
    background-color: #c28285;
}

.navbar {
    background-color: #a2a2a2;
    border-radius: 50px;
    height: 158px;
    color: white;
}

.blogname {
    text-decoration-color: white;
    float: left;
    padding-left: 20px;
    
}

.profilepic {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    float: right;
    
    
}
