 html * {
     font-family: 'Montagu Slab', serif;
     cursor: cell;
 }

 nav {
     font-size: 50px;
     text-decoration-color: white;
 }

 .navlist {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    padding-top: 5px;
    padding-right: 280px;
    margin: 10px;
    float: left;
    font-size: 20px;

 }

 #easter-egg {
     text-decoration: line-through;
 }

 a {
    text-decoration: none;
    color: white;
    float: right;
 }

body {
    background-color: #c28285;
    text-align: center;
    color: white;
    font-size: 50px;
}

#welcome-message {
    text-align: center;
    margin-top: 150px;
}

p {
    font-size: 20px;
}

.strike-through {
    text-decoration: line-through;
}

p a {
    float: none;
    text-decoration: underline;
}

.navbar {
    background-color: #a2a2a2;
    border-radius: 50px;
    height: 50px;
    color: white;
}

.blog-link {
    text-decoration: underline;
}

.profilepic {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    float: right;
    
    
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #a2a2a2;
    font-size: 20px;
    padding-top: 10px;

}
